@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif
}


body{
    background-color: black;
    color: white;
    display: flex;
}

.left{
    width: 23vw;
    padding: 5px;
}
.right{
    width: 77vw;
     padding: 5px
}

.home{
    
}
.home ul li{
 display: flex;
 gap: 16px;
 list-style: none;
 width: 23px;
 padding-top: 25px;
 font-weight: bold;
 font-size: 16px;
}

.library{
    padding-top: 5px;
    min-height: 80vh;
    position: relative;
}
.heading{
 display: flex;
 gap: 10px;
 width: 100%;
 padding-top: 14px;
 font-weight: bold;
 font-size: 14px;
}

.heading img{
    width: 23px;
}

.footer{
    display: flex;
    font-size: 11px;
    gap: 10px;
    color: gray;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(3, auto); 
    padding: 25px 0;
}
.footer a {
    color: grey;
    text-decoration: none;
}


.header{
    display: flex;
    justify-content: space-between;
}

.header > *{
    padding: 12px;
}

.spotifyPlaylist{
    padding: 5px;
}

.cardContainer{
    display: flex;
    gap: 10px;
    margin: 30px;
    flex-wrap: wrap;
}
.card{
    /* background-color: #161212; */
    padding: 10px;
    border-radius: 8px;
    flex-direction: column;
    display: flex;
    width: 190px;
    position: relative;
}

.card > h2, p{
    padding-top: 9px;
}

.card img{
    border-radius: 8px;
    object-fit: contain;
}

.card:hover{
    background-color: #161212;
}

.play{
    border: 2px solid #1fdf64;
    padding: 6px;
    width: 35px;
    height: 35px;
    background-color: #1fdf64;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 85px;
    right: 16px;
    opacity: 0;
    transition: all 1s ease-out;
}

.card h2{
    font-size: 16px;
    font-weight: 400;
}
.card p{
    font-size: 14px;
    font-weight: 400;
    color: #a4a4a4;
}